{{#if resume.awards.length}}
<div class="container awards-container">
    {{> title value="Achievements"}}

    {{#each resume.awards}}
        <section class="item">
            <h4 class="bold">{{this.title}}</h4>

            {{#if awarder}}
            <h5 class="awarder">{{awarder}}</h5>
            {{/if}}

            {{#if summary}}
            <p class="summary">{{summary}}</p>
            {{/if}}
        </section>
    {{/each}}
</div>
{{/if}}